.process {
    background-image: url(../images/process-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-bottom: 100px;
}

.process__box {
    text-align: center;
}

.process__box circle,
.process__box text, 
foreignObject {
    transition: all .3s ease;
    cursor: pointer;
    font-size: 18px;
}

.process__box g:hover circle {
    fill:#036CCA;
    r: 20px;
}

.process__box g:hover text {
    fill:#036CCA;
    font-size: 36px;
}

.process__box g:hover foreignObject {
    color:#036CCA;
    font-size: 22px;
}

foreignObject {
    text-align: left;
}

.process__box-list {
    display: none;
}

/* media */

@media (max-width: 880px) {
    
    .process__box svg{
        display: none;
    }

    .process__box-list {
        display: block;
        list-style: none;
    }

    .process__box-item {
        padding-bottom: 40px;
        padding-left: 20px;
        margin-left: 20px;
        border-left: 1px solid #fff;
        text-align: left;
        position: relative;
    }

    .process__box-item:last-child {
        border-left: none;
    }
    .process__box-item::before {
        content: "";
        position: absolute;
        left: -10px;
        top: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
    }

}

