

.special-offer__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.special-offer__item {
    width: 500px;
}

.special-offer__item-box {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #fff;
    padding: 40px 75px;
    margin-bottom: 25px; 
    text-align: center;
}

.special-offer__item-text {
    max-width: 236px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 29px;
}

.special-offer__item-text span {
    color:#CB0E0E;
}


.special-offer__btn {
    width: 100%;
    padding: 20px 10px;
    font-size: 18px;
    border: 1px solid #fff;
}

.special-offer__old-price {
    text-align: right;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
    position: relative;
}

.special-offer__old-price::before {
    content: '';
    position: absolute;
    top: 8px;
    right: -2px;
    transform: rotate(17deg);
    width: 68px;
    height: 1px;
    background-color: #CB0E0E;
}

.special-offer__new-price {
    font-size: 48px;
    line-height: 57px;
}


/* media */

@media (max-width: 1050px) {
    .special-offer__inner {
        display: block;
    }

    .special-offer__item {
        width: 100%;
    }

    .special-offer__btn {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .special-offer__new-price {
        font-size: 35px;
        line-height: 45px;
    }

    .special-offer__item-box {
        padding: 65px 15px;
    }

    .special-offer__item-text {
        font-size: 18px;
        line-height: 33px;
    }
    
    
}